.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
body {
	display: flex;
	flex-direction: column;

	margin: 0px;
	color: #000;
	font-family: 'Roboto Mono', monospace;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

div.nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #eee;
	align-items: center;
}

div.nav > a.link {
	margin: 8px;
	padding: 8px;
	border-radius: 4px;
}

div.nav > a.link {
	text-decoration: none;
	color: #000;
}
div.nav > a.link.active {
	background-color: #ddd;
	color: #000;
}
div.nav > a.link:hover {
	cursor: pointer;
	background-color: #888;
	color: #fff;
}

div.nav > div.separator {
	border: 1px solid #DFF3E3;
}


div.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	bottom: 4px;
	left: 0;
	right: 0;
}

div.social > a.link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px;
	height: 24px;
	width: 24px;
	font-size: 24px;
	text-decoration: none;
	color: #000;
}
div.social > a.link:hover {
	color: #888;
	cursor: pointer;
}
