body {
	background-color: #fff;
}
div.section {
	display: flex;
	flex-direction: row;
	page-break-after: always;
}
a {
	overflow-wrap: break-word;
	word-break: break-all;
}
h1 {
	font-size: 32px;
	font-weight: 900;
	margin-block-start: 0;
}
div.left-panel {
	display: flex;
	background-color: #eee;
	flex-direction: column;
	flex: 0 0 300px;
	flex-wrap: wrap;
	padding: 16px;
	color: #000;
}
div.left-panel > div.title {
	font-size: 18px;
	font-weight: 600;
}
div.left-panel div.label {
	width: 24px;
}
div.left-panel a {
	text-decoration: none;
	color: #000;
	overflow-wrap: break-word;
}
div.right-panel {
	flex: 1;
	color: black;
	background-color: #fff;
	padding: 16px;
}
div.right-panel > div.title {
	font-size: 18px;
	font-weight: bold;
}
div.right-panel > div.contents {
	margin-left: 8px;
}
div.right-panel > div.contents > div.content {
	display: flex;
	flex-direction: row;
}
div.right-panel > div.contents > div.content > div.content-marker {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 1px;
	background-color: #aaa;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 4px;
}
div.right-panel > div.contents > div.content > div.content-marker > div.marker {
	height: 12px;
	width: 12px;
	border-radius: 10px;
	background-color: #aaa;
}
div.right-panel > div.contents > div.content > div.content-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}
div.right-panel > div.contents > div.content:first-child > div.content-marker {
	margin-top: 6px !important;
	padding-top: 0px !important;
}
div.right-panel > div.contents > div.content:last-child > div.content-marker {
	margin-bottom: 14px !important;
}
.text-small {
	font-size: 12px;
	color: #333;
}
div.right-panel a {
	text-decoration: none;
	color: inherit;
}
div.horizontal-line {
	height: 1px;
	background-color: #000;
	margin: 4px 4px;
}
.qwiklab-certificates {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.qwiklab-certificates > img {
	margin: 8px;
	width: 64px;
	height: 64px;
}

div#education {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 16px;
	background-color: #fff;
}
div#education > table td {
	background-color: #eee;
	padding: 8px;
}
div#education div.title {
	color: #000;
	font-size: 24px;
	font-weight: 900;
}

div#projects {
	display: flex;
	flex-direction: column;
	padding: 16px;
	background-color: #fff;
}

div#projects div.title {
	color: #000;
	font-size: 24px;
	font-weight: 900;
}
div#projects div.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
div.project {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 256px;
	padding: 8px;
	margin: 8px;
	border-radius: 4px;
	background-color: #eee;
	page-break-inside: avoid;
	color: #000;
}
div.project div.name {
	font-weight: 900;
}
div.project div.description {
	align-self: flex-end;
}
div.project div.separator {
	height: 8px;
}
div.project div.divider {
	height: 1px;
	background-color: #000;
	margin: 2px 0px;
}
div.project a.link {
	text-decoration: none;
	color: #777;
	overflow-wrap: break-word;
}
div.project > div.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
div.project > div.tags > div.tag {
	background-color: #ddd;
	font-size: 10px;
	padding: 2px 8px;
	border-radius: 8px;
	margin: 4px;
}

@page {
	size: 21cm 29.7cm;
	margin: 0 0 0 0;
}

@media print {
	div.nav {
		display: none;
	}
	div.left-panel {
		font-size: 14px !important;
		min-width: 0px !important;
		max-width: 5.5cm !important;
		height: 28.8cm !important;
	}
	div.right-panel {
		flex: 1 !important;
		min-width: 0px !important;
		max-width: 15.5cm !important;
		height: 28cm !important;
	}
}

@media screen and (orientation: portrait) {
	div.section {
		display: flex;
		flex-direction: column-reverse;
	}
	div.left-panel {
		max-width: none !important;
	}
	div.right-panel {
		max-width: none !important;
	}
}